<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/NOTNIK_KG/DemoQAWinter24"><classes><class name="homeWork.elements.BasicLocators"><methods><include name="findByTest"/></methods></class><class name="homeWork.elements.CheckBox"><methods><include name="textBoxTest"/></methods></class><class name="homeWork.elements.CoverCamolet"><methods><include name="foodTest"/></methods></class><class name="homeWork.elements.FoodList2"><methods><include name="findFoodList"/></methods></class><class name="homeWork.elements.Glovo"><methods><include name="glovoTest"/></methods></class><class name="homeWork.elements.NambaFood"><methods><include name="nambaFoodTest"/></methods></class><class name="homeWork.elements.RestoransPishpek"><methods><include name="foodTest"/></methods></class><class name="homeWork.elements.TextBox"><methods><include name="testFormSubmission"/></methods></class></classes></test></suite>